h1 {
  text-align: center;
}

/* ### BOX MODEL ### */
    .box-model {
      width: 200px; /* Lebar konten */
      padding: 20px; /* Ruang dalam elemen */
      border: 5px solid #9a03ff; /* Garis tepi */
      margin: 20px; /* Jarak luar antar elemen */
      background-color: #f0b5f5; /* Warna latar */
      font-style: italic;
      font-weight: bold;
    }

/* ### POSITIONING ### */
    .positioning-container {
      position: relative; /* Referensi untuk elemen yang posisinya absolut */
      height: 200px;
      border: 2px solid #020202;
    }

    .positioned-box {
      position: absolute; /* Ditempatkan relatif terhadap container */
      top: 50px;
      right: 550px;
      width: 200px;
      height: 100px;
      background-color: rgb(255, 98, 80);
      text-align: center;
      align-content: center;
      color: white;
      font-weight: bold;
    }    